<%-  include('../_layouts/adminheader') %>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <h2 class="page-title">Categories</h2>    
    
    <a href="/admin/categories/add-category" class="btn btn-primary">Add a new category</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(function(cat){ %>
                <tr>
                    <td><%= cat.title %></td>
                    <td><a href="/admin/categories/edit-categories/<%= cat.id %>">Edit</td>
                        <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= cat._id %>">Delete</td>
                        
                </tr>
            <% }); %>
        </tbody>
<%-  include('../_layouts/adminfooter') %>